/*  Estilos pré definidos */
    /* Pra usar essas variáveis é preciso usar no campo de VALUE o seguinte "$cor1", "$cor2" etc. */
    $cor1: #000000; /* Preto */
    $cor2: #ffffff; /* Branco */
    $cor3: #062641; /* Azul LTG */
    $cor4: #f4ab21; /* Amarelo LTG */
    $cor5: #F7F7F7; /* Cinza claro */
    $cor6: #D9D9D9; /* Cinza escuro */

    $fonte1: "Nunito Sans", Helvetica, Arial, sans-serif;

* {
    color: $cor3;
    font-family: $fonte1;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/NunitoSans.ttf') format('truetype');
    font-weight: 400;
}

img, video {
    width: 100%;
    height: 100%;
}

video {
    filter:opacity(40%)
}

/* Configuração para testes. APAGAR DEPOIS!

* {
    border: solid 3px rgb(243, 1, 223); 
}

html {
   border: solid 1px blue; 
}

body {
    border: solid 1px gray;
}

section {
    border: solid 1px green;
}

.col, .col-1 {
    border: solid 3px aqua;
}

.row {
    border: solid 3px red;
}

/* FIM DA CONFIGURAÇÃO DE TESTE */

#img-capa {
    filter: opacity(50%)
}

.ret-amarelo-hor {
    height: 3px;
    width: 15%;
    background-color: $cor4;
    margin-bottom: 2rem;
}

.ret-amarelo-ver {
    height: 5rem;
    width: 3px;
    background-color: $cor4;
}

.ret-azul-ver {
    height: auto;
    width: 3px;
    background-color: $cor3;
}

div.quadro-cinza-claro {
    background-color: $cor5;
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: $cor3 !important; /* o !important sobrescreve a opção do bootstrap */
    margin-left: 1rem;
    margin-right: 1rem;
}


#menu-capa {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    position: fixed;
    width: 100%;
    z-index: 32;
    nav {
        img {
            max-height: 80px;
            width:auto;
        }
    }
}

a { /* essa parte faz com que os links continuem com o estilo da LTG mesmo depois que add um link */
    color: $cor3 !important;
    text-decoration: none !important;
    margin-left: (1rem * .75) !important;
}

footer {
    .tit {
        display: inline-block;
    }
    .ret-amarelo-hor {
        display: inline-block;
        margin-bottom: 1rem;
    }
    li {
        font-size: 0.9rem;
    }
}